<div class="main-container">
	<div class="order-content-container">
		<div class="order-sub-content-container" id="order-sub-content-container" scrollTracker scrollableElementSelector="#order-sub-content-container" (notifyScrollFinished)="handleScrollFinished($event)">
			
			<div class="container-items" id="container0">
			

				<div class="row-main">
					
					<div class="img-row-desc-container">
					
						<div class="img-row-container border-item">
							<div class="img-container ">
								<img src="/assets/chicken_wing.png"  class="img-fluid">
							</div>
							<div class="container-add-edit">
								<div class="container-add">
									<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
								</div>
								<div class="container-edit">
									<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
								</div>							
							</div>							
						</div>
						<div class="description-price-container">
							<div class="description-container">
								item name
							</div>
							<div class="price-container">
								$0.00
							</div>							
						</div>
					
					</div>
								
                    
					<div class="img-row-desc-container">
					
						<div class="img-row-container border-item">
							<div class="text-container">
								<p class="text-no-image">text</p>
							</div>
							<div class="container-add-edit">
								<div class="container-add">
									<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
								</div>
								<div class="container-edit">
									<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
								</div>							
							</div>							
						</div>
						<div class="description-price-container">
							<div class="description-container">
								item name
							</div>
							<div class="price-container">
								$0.00
							</div>							
						</div>
					
					</div>		
					
					<div class="img-row-desc-container">
					
						<div class="img-row-container border-item">
							<div class="img-container ">
								<img src="/assets/chicken_wing.png"  class="img-fluid">
							</div>
							<div class="container-add-edit">
								<div class="container-add">
									<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
								</div>
								<div class="container-edit">
									<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
								</div>							
							</div>							
						</div>
					
					</div>								
			
				</div>
				
				<div class="row-main">
					
					<div class="img-row-desc-container">
					
						<div class="img-row-container border-item">
							<div class="img-container ">
								<img src="/assets/chicken_wing.png"  class="img-fluid">
							</div>
							<div class="container-add-edit">
								<div class="container-add">
									<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
								</div>
								<div class="container-edit">
									<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
								</div>							
							</div>							
						</div>
					
					</div>
								
                    
					<div class="img-row-desc-container">
					
						<div class="img-row-container border-item">
							<div class="img-container ">
								<img src="/assets/chicken_wing.png"  class="img-fluid">
							</div>
							<div class="container-add-edit">
								<div class="container-add">
									<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
								</div>
								<div class="container-edit">
									<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
								</div>							
							</div>							
						</div>
					
					</div>			
					
					<div class="img-row-desc-container">
						<div class="img-row-container border-item-empty">
						</div>
					</div>								
			
				</div>			
			
			
			</div>
			
			
			<div class="container-items" id="container1">
				

			
			</div>
		</div>
	</div>        
	<div class="container-paginator">	
		<div>
		   <button  (click)="previous($event)" class="btn-next-previous">Previous</button>
		   <button  (click)="next($event)" class="btn-next-previous">Next</button>		
		</div>
	</div>  	
</div>	

<div class="div-togglable" id="divtogg">   
</div>

