<div class="main-container">
	
	<swiper [config]="config">

	<div class="swiper-wrapper">
		<div class="swiper-slide">
		
			<div class="row-main">

				<div class="img-row-desc-container">				
					<div class="img-row-container border-item">
						<div class="img-container ">
							<img src="/assets/chicken_wing.png"  class="img-fluid">
						</div>
						<div class="container-add-edit">
							<div class="container-add">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
							</div>
							<div class="container-edit">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
							</div>							
						</div>							
					</div>
					<div class="description-price-container">
						<div class="description-container">
							item name
						</div>
						<div class="price-container">
							$0.00
						</div>							
					</div>				
				</div>		

				<div class="img-row-desc-container">				
					<div class="img-row-container border-item">
						<div class="img-container ">
							<img src="/assets/chicken_wing.png"  class="img-fluid">
						</div>
						<div class="container-add-edit">
							<div class="container-add">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
							</div>
							<div class="container-edit">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
							</div>							
						</div>							
					</div>
					<div class="description-price-container">
						<div class="description-container">
							item name
						</div>
						<div class="price-container">
							$0.00
						</div>							
					</div>				
				</div>			

				<div class="img-row-desc-container">				
					<div class="img-row-container border-item">
						<div class="img-container ">
							<img src="/assets/chicken_wing.png"  class="img-fluid">
						</div>
						<div class="container-add-edit">
							<div class="container-add">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
							</div>
							<div class="container-edit">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
							</div>							
						</div>							
					</div>
					<div class="description-price-container">
						<div class="description-container">
							item name
						</div>
						<div class="price-container">
							$0.00
						</div>							
					</div>				
				</div>							
			
			
			</div>
		
			<div class="row-main">

				<div class="img-row-desc-container">				
					<div class="img-row-container border-item">
						<div class="img-container ">
							<img src="/assets/chicken_wing.png"  class="img-fluid">
						</div>
						<div class="container-add-edit">
							<div class="container-add">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
							</div>
							<div class="container-edit">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
							</div>							
						</div>							
					</div>
					<div class="description-price-container">
						<div class="description-container">
							item name
						</div>
						<div class="price-container">
							$0.00
						</div>							
					</div>				
				</div>		

				<div class="img-row-desc-container">				
					<div class="img-row-container border-item">
						<div class="img-container ">
							<img src="/assets/chicken_wing.png"  class="img-fluid">
						</div>
						<div class="container-add-edit">
							<div class="container-add">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
							</div>
							<div class="container-edit">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
							</div>							
						</div>							
					</div>
					<div class="description-price-container">
						<div class="description-container">
							item name
						</div>
						<div class="price-container">
							$0.00
						</div>							
					</div>				
				</div>			

				<div class="img-row-desc-container">				
					<div class="img-row-container border-item">
						<div class="img-container ">
							<img src="/assets/chicken_wing.png"  class="img-fluid">
						</div>
						<div class="container-add-edit">
							<div class="container-add">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
							</div>
							<div class="container-edit">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
							</div>							
						</div>							
					</div>
					<div class="description-price-container">
						<div class="description-container">
							item name
						</div>
						<div class="price-container">
							$0.00
						</div>							
					</div>				
				</div>							
			
			
			</div>		
		
		
		</div>
		
		
		<div class="swiper-slide">
		
			<div class="row-main">

				<div class="img-row-desc-container">				
					<div class="img-row-container border-item">
						<div class="img-container ">
							<img src="/assets/chicken_wing.png"  class="img-fluid">
						</div>
						<div class="container-add-edit">
							<div class="container-add">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
							</div>
							<div class="container-edit">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
							</div>							
						</div>							
					</div>
					<div class="description-price-container">
						<div class="description-container">
							item name
						</div>
						<div class="price-container">
							$0.00
						</div>							
					</div>				
				</div>		

				<div class="img-row-desc-container">				
					<div class="img-row-container border-item">
						<div class="img-container ">
							<img src="/assets/chicken_wing.png"  class="img-fluid">
						</div>
						<div class="container-add-edit">
							<div class="container-add">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
							</div>
							<div class="container-edit">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
							</div>							
						</div>							
					</div>
					<div class="description-price-container">
						<div class="description-container">
							item name
						</div>
						<div class="price-container">
							$0.00
						</div>							
					</div>				
				</div>			

				<div class="img-row-desc-container">				
					<div class="img-row-container border-item">
						<div class="img-container ">
							<img src="/assets/chicken_wing.png"  class="img-fluid">
						</div>
						<div class="container-add-edit">
							<div class="container-add">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconadd.png" class="img-fluid img-order-modify" />
							</div>
							<div class="container-edit">
								<input (click)="selectItem(item)" draggable="false" type="image" src="/assets/iconedit.png" class="img-fluid img-order-modify" />
							</div>							
						</div>							
					</div>
					<div class="description-price-container">
						<div class="description-container">
							item name
						</div>
						<div class="price-container">
							$0.00
						</div>							
					</div>				
				</div>							
			
			
			</div>		
		
		</div>

		
		
	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
	
	
			
	</swiper>
	
	

	
	<div class="container-paginator">	
		<div>		   
		   <!-- Add Arrows -->
		   <div class="swiper-button-prev"></div>	
		   <div class="swiper-button-next"></div>
		</div>
	</div>  	

	</div>	


	
<div class="div-togglable" id="divtogg">   
</div>

